# dependencies
node_modules/

# expo
.expo/
.expo-shared/
web-build/

# native builds
ios/
android/
ios/Pods/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# env
.env
.env.*
!.env.example

# build output
dist/
